body {
  background-color: #ffffff;
  margin: 0;
}
* {
  font-family: "Cereal";
}
#rooms-div.div,
#reserve-div.div {
  margin-top: 20px;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.container-days-of-stay,
.select-rooms {
  margin: 0px 20px;
}
.title-input-nigths {
  margin: 5px 10px;
}

.select-rooms select {
  width: 220px;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 2px solid #ff5a5f;
  border-radius: 5px;
  background: #fafafa;
  color: #404040;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=number] { -moz-appearance:textfield; }

input.nigths-input {
  margin: 0;
  outline: none;
  text-align: center;
  width: 35px;
  height: 35px;
  background-color: #fafafa;
  border: 0;
  font-size: 15px;
}
.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 55px;
  background-color: #ffffff;
  filter: drop-shadow(1px 1px 11px rgba(20, 20, 20, 0.2));
}
.logo-img {
  margin: 10px;
  width: 40px;
}

.nav-item {
  text-decoration: none;
  color: #ff5a5f;
  font-size: 15px;
  font-weight: 500;
  padding: 18px 18px;
}
.nav-item:hover {
  background-color: #ff5a5f;
  color: #ffffff;
}

.btn-days {
  width: 40px;
  height: 40px;
  background-color: #ff5a5f;
  color: #fafafa;
  font-size: 19px;
  border: none;
  cursor: pointer;
}
.btn-days:focus,
.btn-agree:focus {
  outline: none;
}
.minus {
  border-radius: 5px 0px 0px 5px;
}

.plus {
  border-radius: 0px 5px 5px 0px;
}
.capacity {
  margin: 5px;
}

.btnplus-input-btnminus {
  border: 1px solid #ff5a5f;
  box-sizing: border-box;
  background-color: #fafafa;
  border-radius: 7px;
}

.section-rooms-card {
  margin: 1em;
}
.tittle-description-room {
  width: 60%;
}

.tittle-room {
  display: flex;
  align-items: center;
}
.name-room {
  font-size: 22px;
  color: #252525;
  font-weight: 400;
  margin: 0px 15px 0px 0px;
}
.card-room {
  width: 100%;
  height: 175px;
  background-color: #fafafa;
  border-radius: 10px;
  margin: 10px;
  filter: drop-shadow(1px 1px 11px rgba(0, 0, 0, 0.25));
}
.available-rooms {
  background-color: #ff5a5f;
  color: #fafafa;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 6px;
  margin: 0;
}
.box-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.img {
  width: 240px;
  border-radius: 5px;
}

.container-img-modal {
  width: 280px;
  border-radius: 5px;
}

.description-room {
  margin: 10px 0px;
}

.about-room {
  color: #252525;
  font-size: 14px;
  font-weight: 100;
  margin: 0;
}
.icons-room {
  margin: 10px 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.icons-room i {
  font-size: 20px;
  color: #ff5a5f;
  margin: 0px 5px;
}

.icons-capacity {
  margin: 0px 5px 0px 0px;
}

.icon-capacity-room {
  margin: 0px 10px;
}

.icon-capacity-room i {
  color: #ff5a5f;
  font-size: 27px;
}

.capacity-icon {
  color: #ff5a5f;
  font-size: 20px;
  margin: 0px 10px 0px 0px;
}

.title-icon p {
  margin: 0;
  font-size: 12px;
  color: #252525;
  font-weight: 300;
  text-align: center;
}

.price-night {
  font-weight: 400;
  font-size: 30px;
  color: #404040;
  margin: 0;
}

.subtitle-night {
  font-size: 13px;
  color: #252525;
  margin: 1px;
  font-weight: 200;
}

.hidden {
  display: none !important;
}

.btn-agree {
  background-color: #ff5a5f;
  font-weight: 800;
  color: #ffffff;
  font-size: 15px;
  width: 125px;
  height: 45px;
  border: none;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.modal-scafold {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(37, 37, 37, 0.75);
  backdrop-filter: blur(5px);
}

.modal {
  width: 1020px;
  height: 595px;
  background-color: #ffffff;
  border-radius: 20px;
}

.title-modal {
  color: #252525;
  font-size: 30px;
  margin: 10px;
  font-weight: 400;
  text-align: center;
}

.exit-modal i {
  font-size: 30px;
  color: #ff5a5f;
}

.exit-modal {
  position: absolute;
  margin-left: 970px;
  margin-bottom: 525px;
}

.detalles-habitacion-modal {
  width: 40%;
}
.details-room-p {
  font-size: 15px;
  color: #404040;
  font-weight: 400;
  margin: 5.5px 0px;
}

.details-room-p-bold {
  color: #404040;
  font-weight: 200;
  font-size: 15px;
}

.incluide-modal i {
  font-size: 15px;
  color: #ff5a5f;
  margin: 5px;
}
.description-modal {
  margin: 0px 15px;
  width: 465px;
}

.incluide-room-p-bold {
  color: #404040;
  font-weight: 200;
  font-size: 14px;
}

.formulario-habitacion-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-reserve {
  width: 90%;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.form,
.form-date {
  width: 35%;
  position: relative;
  height: 40px;
  overflow: hidden;
  margin: 5px;
}

.form input {
  width: 100%;
  height: 100%;
  color: #404040;
  padding-top: 8px;
  border: none;
  font-size: 14px;
  outline: none;
}
.form-dates-box {
  width: 36%;
}

.form-date input {
  width: 100%;
  height: 100%;
  color: #404040;
  padding-top: 10px;
  border: none;
  font-size: 14px;
  outline: none;
  background-color: #ffffff;
}

.form label,
.form-date label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 90%;
  pointer-events: none;
  font-size: 14px;
  font-weight: 400;
  color: #404040;
  border-bottom: 1px solid #404040;
}

.form label::after,
.form-date label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #ff6f73;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}
.form-date {
  width: 50%;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name,
.form-date input:focus + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 11px;
  color: #ff5a5f;
}

.form-date input + .label-name .content-name,
.form-date input + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 11px;
  color: #404040;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after,
.form-date input:focus + .label-name::after {
  transform: translateX(0%);
}

.btn-reserve {
  height: 40px;
  width: 100%;
  background: #ff5a5f;
  border: 1px solid #ff5a5f;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  font-weight: 400;
  color: #fafafa;
  font-size: 14px;
  background-position: center;
  transition: background 0.4s;
  cursor: pointer;
}

.btn-reserve:hover {
  border: 2px solid #ff5a5f;
  background-color: #ffffff;
  color: #ff5a5f;
  transition: 200ms;
}
.btn-reserve:focus {
  outline: none;
}

.box-btn {
  width: 65%;
  margin: 1em;
}

.success-img {
  height: 375px;
  margin: 2em;
}

.fadeIn {
  animation: fadeIn ease-in 350ms;
  -webkit-animation: fadeIn ease-in 350ms;
  -moz-animation: fadeIn ease-in 350ms;
  -o-animation: fadeIn ease-in 350ms;
  -ms-animation: fadeIn ease-in 350ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#reserves-table {
  border-collapse: separate;
  width: 85%;
  text-align: center;
  border-spacing: 0px 3px;
}
#reserves-table th {
  font-weight: 400;
}

#reserves-table td {
  font-weight: 300;
}

table thead,
table tbody {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

table th:nth-child(1),
table td:nth-child(1) {
  border-radius: 5px 0px 0px 5px;
}
table th:nth-last-child(1),
table td:nth-last-child(1) {
  border-radius: 0px 5px 5px 0px;
}

#reserves-table td,
#reserves-table th {
  padding: 8px;
}

#reserves-table tr:nth-child(even) {
  background-color: #ffeaeb;
}
#reserves-table tr:nth-child(odd) {
  background-color: #ffd6d7;
}

tr {
  margin-top: 20px;
}

#reserves-table td,
#reserves-table th {
  padding-top: 12px;
  padding-bottom: 12px;
}

#reserves-table th {
  text-align: center;
  background-color: #ff5a5f;
  color: white;
}

.aboutDescription {
  width: 80%;
}

.aboutDescription p {
  font-size: 18px;
  color: #404040;
  font-weight: 100;
}

.alert {
  background-color: #f24c3d;
  width: 200px;
  height: 90px;
  border-radius: 10px;
  top: 15%;
  right: -15%;
  position: absolute;
  transition: right 0.4s ease;
}

.alert.showtoast {
  right: 2%;
}

.message {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}
