body {
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  font-family: "Cereal";
}

select {
  width: 20%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 2px solid #ff5a5f;
  border-radius: 5px;
  background: #fafafa;
  color: #404040;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select::-ms-expand {
  display: none;
}

#selector-habitacion {
  margin: 20px;
}
.datos-habitacion {
  justify-content: start !important;
  width: 55%;
}

.disponible-tag {
  margin: 0;
  font-size: 12px;
  margin-left: 1em;
  color: #fafafa;
  background-color: #ff5a5f;
  padding: 5px;
  font-weight: 400;
  border-radius: 5px;
}

.canti-bed-bath,
.cantidad,
.precio-habitacion,
.container-total-estadia {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-icon-data {
  margin-right: 10px;
}
.cantidad,
.container-total-estadia {
  margin: 10px;
}

.cantidad p {
  margin: 0;
}

.number-icon i {
  color: #ff5a5f;
  font-size: 25px;
}

.number-icon,
.card-habitacion,
.plus-minus,
.container-estadia-precio {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tittle-icon {
  font-size: 12px;
  color: #404040;
  font-weight: 100;
}
.number-icon p {
  margin-right: 8px;
  font-size: 23px;
  font-weight: 800;
  color: #ff5a5f;
}

.card-habitacion {
  width: 1260px;
  height: 160px;
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  border-radius: 5px;
  margin: 20px;
}

h2.nombre-habitacion {
  font-weight: 400;
  font-size: 23px;
  color: #404040;
  margin: 2px;
}

p.descripcion-habitacion {
  font-weight: 100;
  font-size: 15px;
  color: #404040;
  margin: 2px;
}

.precio-habitacion {
  margin: 1em;
}

.precio {
  font-weight: 400;
  font-size: 30px;
  color: #404040;
  margin: 0;
}
.subtittle {
  font-weight: 100;
  font-size: 13px;
  color: #4d4646;
  margin: 0;
}

.hidden {
  display: none !important;
}

.img {
  width: 205px;
  height: 140px;
  object-fit: cover;
  border-radius: 5px;
}

.imagenes-habitacion {
  width: 205px;
  height: 140px;
  margin: 10px;
}

.iconos-box {
  margin-top: 10px;
}

.iconos-box i {
  margin: 5px;
  font-size: 20px;
  color: #ff6f73;
}

input.noches-input {
  height: 36px;
  width: 35px;
  background: #ffffff;
  border: 1px solid #ff5a5f;
  border-radius: 5px;
  text-align: center;
  font-weight: 400;
  color: #ff5a5f;
  font-size: 16px;
}

.btn-estadia {
  height: 35px;
  width: 35px;
  background: #ff5a5f;
  border: 1px solid #ff5a5f;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  font-weight: 400;
  color: #fafafa;
  font-size: 16px;
  background-position: center;
  transition: background 0.4s;
  cursor: pointer;
}

.btn-estadia:hover {
  background: #ff6f73 radial-gradient(circle, transparent 1%, #ff5a5f 1%)
    center/15000%;
}

.btn-estadia:active {
  background-color: #ff5a5f;
  background-size: 100%;
  transition: background 0s;
}

input:focus,
button.btn-estadia:focus {
  outline: none !important;
  outline: none !important;
}

.noches-text {
  font-weight: 400;
  font-size: 16px;
  color: #404040;
  margin: 0;
}

.btn-aceptar {
  background-color: #ff5a5f;
  font-weight: 800;
  color: #ffffff;
  font-size: 15px;
  width: 125px;
  height: 45px;
  border: none;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-aceptar:hover {
  border: 2px solid #ff5a5f;
  background-color: #ffffff;
  color: #ff5a5f;
  transition: 200ms;
}
.btn-aceptar:focus {
  outline: none;
}

.plus-minus {
  height: 35px;
  width: 105px;
  background-color: #ff5a5f;
  border: 2px solid #ff5a5f;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(37, 37, 37, 0.75);
  backdrop-filter: blur(5px);
}

.exit-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 15px;
}

.exit-btn i {
  font-size: 30px;
  color: #ff5a5f;
}

.modal-container {
  width: 1000px;
  height: 565px;
  background-color: #ffffff;
  border-radius: 20px;
}

.tittle {
  text-align: center;
}

.titulo-modal,
.titulo-modal-formulario {
  font-size: 25px;
  color: #404040;
  font-weight: 400;
  margin: 0;
}

.titulo-modal {
  margin-top: -20px;
}

.imagen-habitacion-modal,
.datos-habitacion,
.container-habitacion-detalles-img,
.formulario-reserva {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.imagen-habitacion-modal {
  width: 250px;
  height: 150px;
  margin: 1em;
}

img.img-habitacion-modal {
  width: 250px;
  height: 150px;
  border-radius: 5px;
}


.detalles-habitacion-modal {
  width: 40%;
}

.detalles-habitacion-p {
  font-size: 15px;
  color: #404040;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 10px;
}

.detalles-habitacion-p-content {
  color: #404040;
  font-weight: 200;
  font-size: 15px;
}

.incluye-habitacion {
  height: 100%;
  margin-left: 1em;
}

.iconos-incluye {
  display: flex;
  flex-direction: column;
}

.iconos-incluye i {
  font-size: 16px;
  color: #ff5a5f;
  margin: 5px;
}

.incluye-habitacion-p-content {
  color: #404040;
  font-weight: 200;
  font-size: 14px;
}

.formulario-habitacion-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario-reserva {
  width: 90%;
  margin-bottom: 10px;
}

.form,
.form-date {
  width: 35%;
  position: relative;
  height: 40px;
  overflow: hidden;
  margin: 5px;
}

.form input {
  width: 100%;
  height: 100%;
  color: #404040;
  padding-top: 8px;
  border: none;
  font-size: 14px;
  outline: none;
}

.form-date input {
  width: 100%;
  height: 100%;
  color: #404040;
  padding-top: 10px;
  border: none;
  font-size: 14px;
  outline: none;
}

.form label,
.form-date label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 90%;
  pointer-events: none;
  font-size: 14px;
  font-weight: 400;
  color: #404040;
  border-bottom: 1px solid #404040;
}

.form label::after,
.form-date label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #ff6f73;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name,
.form-date input:focus + .label-name .content-name,
.form-date input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 11px;
  color: #ff5a5f;
}

.form-date input + .label-name .content-name,
.form-date input + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 11px;
  color: #404040;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after,
.form-date input:focus + .label-name::after,
.form-date input:valid + .label-name::after {
  transform: translateX(0%);
}


.btn-reservacion {
  height: 40px;
  width: 65%;
  background: #ff5a5f;
  border: 1px solid #ff5a5f;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  font-weight: 400;
  color: #fafafa;
  font-size: 14px;
  background-position: center;
  transition: background 0.4s;
  cursor: pointer;
}

.btn-reservacion:hover {
  border: 2px solid #ff5a5f;
  background-color: #ffffff;
  color: #ff5a5f;
  transition: 200ms;
}
.btn-reservacion:focus {
  outline: none;
}

.box-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}
.container-success-reservacion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-img {
  height: 375px;
  margin: 2em;
}


.fadeIn {
  animation: fadeIn ease-in 350ms;
  -webkit-animation: fadeIn ease-in 350ms;
  -moz-animation: fadeIn ease-in 350ms;
  -o-animation: fadeIn ease-in 350ms;
  -ms-animation: fadeIn ease-in 350ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}