select {
  font-family: "Cereal";
  width: 20%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 2px solid #ff5a5f;
  border-radius: 5px;
  background: #fafafa;
  color: #404040;
}
#selector-habitacion {
  margin: 20px;
}
.datos-habitacion {
  width: 55%;
}

.canti-bed-bath,
.cantidad,
.precio-habitacion,
.container-total-estadia {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-icon-data {
  margin-right: 10px;
}
.cantidad,
.container-total-estadia {
  margin: 10px;
}

.cantidad p {
  margin: 0;
}

.number-icon i {
  color: #ff5a5f;
  font-size: 25px;
}
.number-icon,
.card-habitacion,
.plus-minus,
.container-estadia-precio {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tittle-icon {
  font-size: 12px;
  color: #404040;
  font-family: "Cereal";
  font-weight: 100;
}
.number-icon p {
  margin-right: 8px;
  font-size: 23px;
  font-family: "Cereal";
  font-weight: 800;
  color: #ff5a5f;
}

.card-habitacion {
  width: 1260px;
  height: 160px;
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  border-radius: 5px;
  margin: 20px;
}

h2.nombre-habitacion {
  font-family: "Cereal";
  font-weight: 400;
  font-size: 23px;
  color: #404040;
  margin: 2px;
}

p.descripcion-habitacion {
  font-family: "Cereal";
  font-weight: 100;
  font-size: 15px;
  color: #404040;
  margin: 2px;
}

.precio-habitacion {
  margin: 1em;
}

.precio {
  font-family: "Cereal";
  font-weight: 400;
  font-size: 30px;
  color: #404040;
  margin: 0;
}
.subtittle {
  font-family: "Cereal";
  font-weight: 100;
  font-size: 13px;
  color: #4d4646;
  margin: 0;
}

.hidden {
  display: none;
}

.img {
  width: 205px;
  height: 140px;
  object-fit: cover;
  border-radius: 5px;
}

.imagenes-habitacion {
  width: 205px;
  height: 140px;
  margin: 10px;
}

.iconos-box {
  margin-top: 10px;
}

.iconos-box i {
  margin: 5px;
  font-size: 20px;
  color: #ff6f73;
}

input.noches-input {
  height: 35px;
  width: 35px;
  background: #ffffff;
  border: 2px solid #ff5a5f;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Cereal";
  text-align: center;
  font-weight: 400;
  color: #ff5a5f;
  font-size: 16px;
  margin-top: 5px;
}
input:focus, button.btn-estadia:focus {
  outline: none !important;
  outline: none !important;
}

.noches-text {
  font-family: "Cereal";
  font-weight: 400;
  font-size: 16px;
  color: #404040;
  margin: 0;
}

.btn-aceptar {
  background-color: #ff5a5f;
  font-family: "Cereal";
  font-weight: 800;
  color: #ffffff;
  font-size: 15px;
  width: 125px;
  height: 45px;
  border: none;
  margin: 10px;
  border-radius: 5px;
}

.btn-aceptar:hover {
  border: 2px solid #ff5a5f;
  background-color: #ffffff;
  color: #ff5a5f;
  transition: 200ms;
}
.btn-aceptar:focus {
  outline: none;
}

.btn-estadia {
  height: 35px;
  width: 35px;
  background: #ffffff;
  border: 2px solid #ff5a5f;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Cereal";
  text-align: center;
  font-weight: 400;
  color: #ff5a5f;
  font-size: 20px;
  margin-top: 5px;
}
.btn-estadia:hover{
  background: #ff5a5f;
  color: #fafafa;
  transition: 200ms;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
